Clase09032021.pdf
kesimoDyC.py
Clases/Clase Progra III - Martes Noche-20210420_210746-Grabación de la reunión.mp4
Clases/Ej 2 tienda comics solucion.mp4
Clases/Ej 2 Tienda comics.mp4
Presentaciones/Clase06042021.pdf
Presentaciones/Clase13042021.pdf
Presentaciones/Clase16032021.pdf
Presentaciones/Clase20042021 (1).pdf
Presentaciones/Clase23032021.pdf
Presentaciones/Clase30032021.pdf
